body {
  font-size: 40pt;
}

table  {
  border-collapse:collapse;
  border: solid 5px;
}

td{
  border: solid 5px;
}

.border-none tr{
  border:none;
}
.multi-columns-td td{
  border: none solid none solid;
 
}
